*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: url(Maersk_.jpg);
	background-size: cover;
	background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

.menu-bar{
    background: rgb(192, 197, 192);
    text-align: center;
}
.menu-bar ul{
   display: inline-flex;
   list-style: none;
   color:rgb(102, 98, 98);
}
.menu-bar ul li{
    width: 120pxpx;
    margin: 10px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: rgb(51, 46, 46);
}
.active, .menu-bar ul li:hover{
    background-color: #e04b4b;
}
.menu-bar .fa{
    margin-right: 8px;

}